{% extends "base.html" %}

{% block content %}
    <section>
        <div class="row">
            <div class="shop">
                <h2>{% trans 'Shop of unique handmade things' %}</h2>
                <h4>{% trans 'Confirm removing the product:' %}</h4>
                    <form method="post">{% csrf_token %}
                        <p>{% trans 'Are you really want to delete the product' %} "{{ object }}"?</p>
                        <input type="submit" value="{% trans "Yes, I'm sure" %}">
                    </form>
            </div>
        </div>
    </section>
{% endblock %}
