{% extends "base.html" %}

{% block content %}
    <section>
        <div class="row">
            <div class="shop">
                <h2>{% trans 'Shop of unique handmade things' %}</h2>
                <h4>{% if object %}{% trans 'Editing of product characteristics' %}{% else %}Adding of product{% endif %}:</h4>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% if object %}{% trans 'Update' %}{% else %}{% trans 'Save' %}{% endif %}">
                </form>
                {% if object %}
                    <button onclick="location.href='{% url 'shop:product_delete' object.slug %}'" type="button">{% trans 'Delete the product' %}</button>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
