<footer>
    <div class="b-footer"><!----style="background-image: url(img/header/hb.jpg);"-->
        <div class="b-footer--item">
            <h3>{% trans 'About us' %}</h3>
            <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts</p>
        </div>
        <div class="b-footer--item">
            <div class="b-footer--item_link">
                <h3>{% trans 'Useful links' %}</h3>
                <ul>
                    <li><a href="">{% trans 'Blog' %}</a></li>
                    <li><a href="">{% trans 'Shop' %}</a></li>
                    <li><a href="">{% trans 'About us' %}</a></li>
                    <li><a href="">{% trans 'Portfolio' %}</a></li>
                    <li><a href="">{% trans 'Contacts' %}</a></li>
                </ul>
            </div>
        </div>
        <div class="b-footer--item">
            <div class="b-footer--item_link">
                <h3>{% trans 'Socials' %}</h3>
                <ul>
                    <li><a href="">{% trans 'Vkontakte' %}</a></li>
                    <li><a href="">{% trans 'Facebook' %}</a></li>
                    <li><a href="">{% trans 'Pinterest' %}</a></li>
                    <li><a href="">{% trans 'Youtube' %}</a></li>
                    <li><a href="">{% trans 'Telegram' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="b-footer--line">
         {% trans 'Little Knits Story 2017' %} | {% trans 'All Rights Reserved' %}
    </div>
</footer>
